<% provide(:title, 'All Users') %>
<% if params[:search].blank? %>
  <h1>ユーザー一覧</h1>
<% else %>
  <h1>検証結果</h1>
<% end %>

<div class="col-md-offset-8">
  <p>ユーザー名検索</p>
  <%= form_tag(users_path, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag "検索", :name => nil, class: "btn btn-primary" %>
  <% end %>
</div> 
<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table">

    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %><br>
          
          <%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %><br>
          
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= user.id %>">編集</button>
              </div> 
              <div id="collapse<%= user.id %>" class="panel-collapse collapse">
                <div class="panel-body">
                  <%= render 'form2', user: user %>
                </div>
              </div>
          </div>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>